<div *ngIf = "!(books$ | async)">Loading...</div>
<div >
  <button mat-raised-button color="primary" routerLink="/addbook">Add Book</button>
</div>
<mat-accordion>
    <mat-expansion-panel *ngFor = "let book of books$ | async">
      <mat-expansion-panel-header>
        <mat-panel-title>
          {{book.title}}
        </mat-panel-title>
        <div >
          <button mat-raised-button color="primary" (click)="delete(book.id)">Delete</button>
      </div>
      </mat-expansion-panel-header> 
          by {{book.author}} 
          <div>
            <button mat-raised-button color="primary" (click)="delete(book.id)">Delete</button>
            <button mat-raised-button color="primary" [routerLink]="'/addbook/'+ book.id" routerLinkActive="active">Update</button>
      </div>
        
    </mat-expansion-panel>
</mat-accordion>
